<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultados de Vuelos</title>
    <link rel="stylesheet" href="/css/results.css">
</head>
<header>
    <nav class="navbar">
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="#">Vuelos</a></li>
            <li><a href="#">Hoteles</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>

<body>
<h1>Resultados de Vuelos</h1>
    <div th:if="${mensaje}">
        <p th:text="${mensaje}"></p>
    </div>

    <!-- Iteración sobre los vuelos obtenidos -->
    <div th:each="vuelo : ${vuelos}" class="flight-card">
        <div class="flight-header">
            <span class="highlight">Más barato</span>
        </div>

        <div class="flight-body">
            <div class="flight-details">
                <div class="flight-info">
                    <p><strong>Salida</strong> <span th:text="${vuelo.fechaSalida}"></span> · Economy</p>
                    <p class="time" th:text="${vuelo.horaSalida}"></p>
                    <p th:text="${vuelo.aeropuertoOrigen.ciudad.getNombre()}"></p> <!-- Ciudad de origen -->
                </div>
                <div class="flight-duration">
                    <p>2h 25min</p>
                    <img src="/images/vuelo2.gif" alt="GIF" class="gif-vuelo">
                    <p>1 Cambio</p>
                </div>
                <div class="flight-destination">
                    <p class="time" th:text="${vuelo.getHoraLlegada()}"></p>
                    <p th:text="${vuelo.aeropuertoDestino.ciudad.getNombre()}"></p> <!-- Ciudad de destino -->
                </div>
                <div class="flight-logo">
                    <img src="/images/aerolineaIcon1.png" alt="Logo Aerolínea" />
                </div>
            </div>

            <div class="linea-vertical"></div>

            <div class="flight-price">
                <p class="seats-warning" th:text="'¡Apúrate! Quedan ' + ${vuelo.asientosDisponibles} + ' asientos a este precio.'"  ></p>
                <p class="price" th:text="'US$' + ${vuelo.precioBase}"></p>
                <p>Precio por adulto</p>
                <button class="btn">Ver viaje</button>
            </div>
        </div>
    </div>
</body>
</html>
